@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
}

* {
  font-family: 'Poppins', 'sans-serif';
}

/*--- Seccion header --- */
.header__movile{
    display: block;
}

.header__movile__container{
    padding: 1em;
    background-color: #FFBF69;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.header__movile__button{
    border: 0;
    background: transparent;
}

.header__movile__sideMenu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 25%;
    display: flex;
    flex-direction: column;
    transform: translatex(-100%);
    transition: transform ease-out .3s;
    background-color: #FFD49B;
}

.header__movile__sideMenu.active {
    transform: translatex(0%);
    
}

.header__movile__sideMenu__button{
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}

.header__movile__sideMenu__list{
    list-style: none;
    padding: 0;
    margin: 1em 1em;
}

.header__movile__sideMenu__item{
    margin: 1em 0;
}

.header__movile__sideMenu__link{
    text-decoration: none; 
    color: inherit;
}

.header__desktop{
    background-color: #FFBF69;
    display: none;
    padding: 1em 4em;
}

.header__desktop__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__desktop__nav{
    width: 300px;
}

.header__desktop__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__desktop__link{
    text-decoration: none; 
    color: inherit;
}
.header__desktop__link:hover{
    text-decoration: underline; 
}

/*--- Seccion introduccion --- */
.introduccion__content{
    background-color: #FFBF69;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1em; 
}

.introduccion__content__texts{
    flex: 1;
}
.introduccion__content__images {
    flex: 0;
}

.introduccion__content__texts{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 1em 1em 0;

}

.introduccion__content__texts__title{
    font-size: 100px;
    margin: 0;
}

/* .introduccion__content__texts__subtitle{
    
} */

.introduccion__content__texts__button{
    border: 0;
    background: #CBF3F0;
    padding: 1em 0;
}

.introduccion__content__images img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/*--- seccion about --- */
.about__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
}

.about__content__title{
    margin: 2em 0 0 0;
    font-weight: bold;
    font-size: larger;
}

.about__content__text{
    margin: 0.5em 0 2em 0;
    text-align: center;
}


/* --- seccion Products --*/
.products__content{
    background-color: #CBF3F0;
}

.products__content__title{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 1em 0em;
}

.products__content__list {
    padding: 0.5em 0;
}

.products__content__list__object {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0;
}

 .products__content__object__img{
    width: 100px;
 }

 .products__content__object__button{
    border: 0;
    background: #FFBF69;
    padding: 0.5em;
    width: 50%;
 }

 /* -- section Informacion --- */
 .information__content{
    display: flex;
    background-image: url(/images/bg-grid.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
 }

.information__content__texts{
    padding: 0 0.5em;
}

.information__content__texts__title{
    font-weight: bold;
}

.information__content__img{
    width: 0px;
}

/* section footer */
.footer__content{
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.footer__content__item{
    height: 65px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}



/* --- desktop ---  */
@media screen and (min-width: 700px) {
    /*--- seccion header --- */
    .header__movile {
      display: none;
    }
    .header__desktop {
      display: block;
    }

    /* --- seccion Introduccion  -- */
    .introduccion__content{
        padding: 1em 4em 0 4em; 
        justify-content: center;
    }

    .introduccion__content__texts{
        justify-content: center;
    }

    .introduccion__content__images {
        flex: 1;
    }

    .introduccion__content__texts__title{
        font-size: 115px;
        white-space: nowrap
    }

    .introduccion__content__texts__button{
        width: 50%;
    }

    .introduccion__content__images img{
        object-fit: cover;
        object-position: right ;
        height: 100%;
        width: 100%;
    }

    /*--- seccion about --- */
    .about__content{
        padding: 1em 8em;
    }
    
    /* seccion Products*/
    .products__content__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

     /* -- section Informacion --- */


    .information__content{
        background-size: 60%;
        padding: 1em 4em;
        background-position: center center;
        align-items: center;
     }

    .information__content__texts{
        padding: 0 1em;
        flex: 2;
    }

    .information__content__img{
        flex: 1;
        padding: 0 3em 0 0;
    }

    /* section footer */
    .footer__content{
        background-color: #000000;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }

    .footer__content__item{
        height: 65px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
  }